
{% extends 'base.html.twig' %}

{% block title %}{{ user.fname }}{% endblock %}

{% block body %}
    <div id="users">
        <h1>
            {{ user.fname }} {{ user.lastname }}
            <a href="#" class="btn btn-danger delete_friendship" data-id="{{ user.id }}">Slett vennskap</a>

        </h1>
        <br/>
        <h2> Eiendel </h2>
        <h3> Info.. </h3>
    </div>

    <hr>
    <a href="/users/getAllFriends/4">Go Back</a>
{% endblock %}

{% block javascripts %}
    <script src="/js/friendship.js"></script>
{% endblock %}