
{% extends 'base.html.twig' %}

{% block title %}Alle brukere{% endblock %}

{% block body %}
    <form class="form-search" method="get" action="users/getSearch">
        <input type="text" name="search_username" id="inputUsername" class="form-control" placeholder="Brukernavn" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Søk
        </button>
    </form>
    </br>

    {% if users %}
        <table id="users" class="table table-striped">
            <thead>
            <tr>
                <th>Brukernavn</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>
                        <a href="/users/getUserItems/{{ user.id }}" class="btn btn-dark">Se eiendeler</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

